/* 
    Created on : 16 Nov, 2022, 12:26:40 PM
    Author     : SANJAY-KUNJAM
*/

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #686868;
    /*font-size: 14px;*/
    background: #ffffff;

    overflow-y: scroll; /* Show scrollbars */
    overflow-x: no-display;
}



/*article, aside, figure, footer, header, hgroup, nav, section {
    display: block;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
    box-sizing: border-box;
}*/

header {
    overflow: hidden;
    /*position: relative;*/
    /*width: 100%;*/
}


.logo {
    float: left;
    font-size: 160%;
    line-height: 105%;
    padding: 5px;
    min-width: 500px;
}


a {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
    outline: none;
    /*    transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;*/
}

.logo a {
    color: #000;
}

.logo a strong {
    font-weight: 600;
    display: block;
    font-size: 80%;
}

.national_emblem {
    margin-top: 10px;
}

.epfo_logo {
    margin-top: 10px;
}

.epfo_logo_footer {
    margin-top: -3px;
}

.text-muted {
    font-size: 14px;
}

.logo .th1
{
    margin-left: 130px;
    margin-top: -65px;
    font-size: 20px;
    font-weight: 800;
}

.logo .th2
{
    margin-left: 130px;
    margin-top: -20px;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 0px !important;
}

.logo .th3
{
    margin-left: 130px;
    margin-top: 0px;
    font-size: 11px;
    line-height: 1;
    margin-bottom: 5px !important;
    font-style: italic;
}


.azadi{
    border-right: solid 1px #c1d6cc;
    display: block;
}

@media (max-width: 800px) {
    .azadi {
        display: none;
    }
    .swach {
        display: none;
    }

    .msewa {
        display: none;
    }

    .rightpanel{
        margin-left: 0px !important;
        margin-top: 10px;
    }
}


.menu-padding {
    padding-top:40px;
}
.sticky {
    position:fixed;
    top:0;
    width: 100%;
}


.navbar-new {
    background-color: #435865 !important;
    padding-top: 4px;
    padding-bottom: 4px;
}


hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}


.text-info {
    font-size: 12px;
}


.topheader{
    /*background-color: #435865 ;*/
    background-color: rosybrown ;
}




.footer-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);

}

.nav-selected {
    background-color: dimgray;
}



.content{
    max-width: 1390px;
    border-left: solid 1px #eeeeee;
    border-right: solid 1px #eeeeee;
    background-color: #fbfbfb;
    font-size: 14px;
    min-height: 600px;
}



.cheader{
    background-image: linear-gradient(white, #eeeeee);
    color: maroon;
    font-weight: 700;
    font-size: 15px;
}


.cbody10{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.hr1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bold {
    font-weight: 700;
}

.texth{
    color: #435865;
}


/* pop over */
.popover {
    /*background-color: tomato;*/
}
.popover.bottom .arrow::after {
    border-bottom-color: tomato;
}
.popover-content {
    background-color: tomato;
}

/* pop over */



/* time line */

.timeline {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
    margin-left: 10px;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:before {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:before {
    /*background-color: hsl(0, 0%, 90%);*/
    left: -38px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
}



.tlp {
    border: 1px solid ;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    margin-left: -40px;
    background-color: #eeeeee;
}

.tlp-green {
    border: 1px solid green ;
    background-color: lightcyan;
}

.tlp-red {
    border: 1px solid maroon ;
    background-color: moccasin;
}

.tlp-claims {
    font-size: 12px;
}

/* time line */




/* TAB */

.ui-widget-content {
    border: 0 !important;
}

.ui-tabs-nav {
    background-color: #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #6c757d;
    background: #6c757d;
    font-weight: normal;
    color: #ffffff;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    cursor: pointer;
}

/* TAB */



.table-1
{
    background-color: rgb(187 188 233 / 44%);
}


.popover1 {
    cursor: pointer;
}


/* V-Tab */

div.v-tab-container{
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border:1px solid #ddd;
    display: flex;
    /*margin-top: 20px;*/
    /*margin-left: 50px;*/
    /*-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
    /*box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
    /*-moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}
div.v-tab-menu{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}
div.v-tab-menu div.list-group{
    margin-bottom: 0;
    border-left: 0;
}
div.v-tab-menu div.list-group>a{
    margin-bottom: 0;
    border-left: 0;
    height: 40px;
}
div.v-tab-menu div.list-group>a .glyphicon,
div.v-tab-menu div.list-group>a .fa {
    color: #5A55A3;
}
div.v-tab-menu div.list-group>a:first-child{
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
    border-top: 0;
    border-left: 0;
}
div.v-tab-menu div.list-group>a:last-child{
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-left: 0;
    border-bottom: 0;
}
div.v-tab-menu div.list-group>a.active,
div.v-tab-menu div.list-group>a.active .glyphicon,
div.v-tab-menu div.list-group>a.active .fa{
    background-color: #5A55A3;
    color: #ffffff;
    margin-top: 0px;
}
div.v-tab-menu div.list-group>a.active:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
}

div.v-tab-content{
    background-color: #ffffff;
    padding-left: 20px;
    padding-top: 10px;
}

div.v-tab div.v-tab-content:not(.active){
    display: none;
}

/* V-Tab */





/* Test CSS */

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

/* Test CSS */




